{% for node in nodes %}
    <div class="item">

        {% if node.title.value %}
            <h3 class="title">
                <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">
                    {{ node.title.value }}
                </a>
            </h3>
        {% endif %}

        {% if node.body.summary %}
            <div class="body">
                {% set text = node.body.summary|render %}
                {{ text|length > 200 ? text|slice(0, 200)|raw ~ '...' : text|raw }}
            </div>
        {% endif %}

    </div>
{% endfor %}